.contentGroup {
  display: grid;
  grid-auto-columns: 12fr;
}
.contentGroup label {
  grid-column-start: 1;
  grid-column-end: 3;
  flex: 0 0 auto;
  margin-right: 10px;
  justify-self: flex-end;
}
.contentGroup header {
  grid-column-start: 3;
  grid-column-end: 12;
}
.contentGroup div {
  grid-column-start: 3;
  grid-column-end: 12;
}
.otherGroup {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.otherGroup input {
  max-width: 490px;
}
.otherGroup label {
  flex: none; 
  margin-right: 10px;
  margin-bottom: 0;
}
.red {
  color: red;
}